
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
 
  .top-navbar {
    background: linear-gradient(135deg, #4b6cb7, #182848); 
    color: white;
    padding: 15px 30px; 
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
  }
  
  
  .navbar-title {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  

  .navbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase; 
    letter-spacing: 1px; 
  }
  
  
  .book-details-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    margin-top: 60px; 
  }
  
  .book-image img {
    width: 180px;  
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .book-info {
    max-width: 600px;
    padding-left: 20px;
  }
  
  .book-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .author {
    font-size: 1.2rem;
    color: #7f8c8d;
  }
  
  .description {
    font-size: 1.1rem;
    color: #2c3e50;
    margin-top: 15px;
  }
  
  .book-genres {
    margin-top: 15px;
  }
  
  .book-genres span {
    font-size: 1rem;
    color: #2ecc71;
    margin-right: 10px;
  }
  
  .book-genres i {
    font-size: 1.2rem;
    color: #16a085;
  }
  
  
  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  p {
    font-size: 1rem;
    color: #7f8c8d;
    line-height: 1.6;
  }
  
  strong {
    font-weight: bold;
    color: #333;
  }
  
 
  .bottom-navbar {
    background: linear-gradient(135deg, #4b6cb7, #182848);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0 0; 
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1); 
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
  }
  
  .bottom-navbar p {
    font-size: 1rem;
    margin: 0;
    letter-spacing: 1px;
  }
 